.verticalise {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.justify {
    flex-direction: column;
    align-content: space-around;
}

.flex {
    display: flex;
}

.centre {
    text-align: center;
}
