.navbar {
    background-color: $blue;
    height: 5em;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: flex
}

.nav-button {
    width: 20%;
    color: white;
    justify-content: space-around;
    align-content: center;
}

i.nav-icon {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.4em;
}

.menu-label {
    padding-top: 1em;
    font-size: 1.4rem;
    font-weight: normal;
}

a:hover {
    background-color: $grey;
}
