.subject-name {
    font-weight: bolder;
    color: $off-black;
    padding-left: 1em;
    margin-bottom: 0;
}

.subject-name > span {
    font-size: 0.8em;
    color: $dark-grey;
    font-weight: 100;
}

.timestamp {
    font-size: 0.7em;
    color: $dark-grey;
    font-weight: 100;
    padding-left: 1em;
    margin-bottom: 0.5em;
}

.notification {
    margin: 0.7em 0;
    padding:1em;
    border-right: 0.3em solid rgb(0, 180, 72);

}

.event-type {
    text-align: center;
    color: $off-black;
}

.eventWhat, .eventWhere-placeName, .eventWhen-date, .eventWhen-time {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
}

.eventWhere-placeName {
    @include icon("\f041");
}

.eventWhere-placeAddress {
    font-size: 1em;
}

.eventWhen-date {
    @include icon("\f133");
}

.eventWhen-time {
    @include icon("\f017");
}

.viewed-notification {
    border-right: 0.3em solid $grey;
}
