.name {
    font-weight: bolder;
    color: #292929;
    padding-left: 1em;
}

.name > span {
    font-size: 0.8em;
    color: #ababab;
    font-weight: 100;
}

.timestamp {
    font-size: 0.7em;
    color: #ababab;
    font-weight: 100;
    padding-left: 1em;
    margin-bottom: 0.5em;
}

.notifications {
    margin: 0.7em 0;
    border-bottom: 2px solid #d4d4d4;
}

.event-type {
    text-align: center;
    color: #292929;
}
