.notification {
    margin: 0.7em 0;
    padding:0.5em;

    border-right: 0.3em solid $going;

    &.viewed-notification {
        border-right: 0.3em solid $grey;
    }
    .timestamp {
        font-size: 0.7em;
        color: $dark-grey;
        font-weight: 100;
        padding-left: 1em;
        margin-bottom: 0.5em;
    }
    .subject-name {
        font-weight: bolder;
        color: $black;
        padding-left: 0.3em;
        margin-bottom: 0;
        font-size: 0.9em;
        span {
            font-size: 0.8em;
            color: $dark-grey;
            font-weight: 100;
        }
    }
    .event-name {
        font-size: 0.9em;
        font-weight: 400;
        color: $black;
        padding-left: 0.3em;
        margin-bottom: 0;
    }
    .date {
        margin-top: 2em;
    }
    .date, .placeName {
        width: 100%;
        text-align: center;
    }
}

.notification a, .calendar-item a {

    .eventWhat, .placeName, .date, .time {
        line-height: 1.2em;
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        color: $black;
    }
}

.calendar-item {

    h5 {
        color: $black;
        margin-bottom: 0.4em;
    }
    a {
        .date, .placeName {
            color: $black;
            text-align: left;
            margin: 0 8px 10px 0;
            font-size: 1.4rem;
            font-weight: normal;
        }

        img {
            border: 1px solid $grey;
            padding: 3px;
        }
    }
    .fa-question-circle {
        color: $maybe;
    }
    .fa-check-circle {
        color: $going;
    }
    .fa-exclamation-circle {
        color: $not-going;
    }
}

.placeName {
    @include icon("\f041");
}

.date {
    @include icon("\f133");
}

.time {
    @include icon("\f017");
}
