.photo {
    display: block;
    max-width: 80%;
    max-height: 250px;
    border: 1px solid $off-black;
    // padding: 30px;
    margin: 0 auto;

    img {
        padding: 10px;
    }
    
    i {
        display: inline;
        font-size: 2em;
        margin-left: 4%;
        position: relative;
        right: -11%;
    }
}

.photo-button {
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 3rem;
    &.share {
        @include icon("\f230");
    }
}
