.profile-page-photo {
    width: 10em;
    margin: 0.5em auto;
}

.profile-page {
    text-align: center;
}

.user-name, {
    margin: 0.25em 0;
}



.logout-button {
    margin: 1em 0;
    background-color: $not-going;
    color: white;
}

.edit-name-title {
    margin: 0.5em auto;
    text-align: left;
    font-size: 1.4em;
}
