.profile-page-photo {
    width: 10em;
    margin: auto;
}

.profile-page {
    text-align: center;
}

.user-name, {
    margin: 0.5em 0;

    @include icon-after("\f040");

}



.logout-button {
    margin: 1em 0;
}
