.RSVP-button {
    text-align: center;
}

.RSVP-flex-container {
    margin-left: 1em;
}

.not-going {
    text-align: right;
}

.maybe {
    text-align: center;
}

.RSVP-user-list {
    padding-left: 15px;
}
