.event-header {
    background: url('https://cloud.githubusercontent.com/assets/2305591/15396821/a93118f0-1dd5-11e6-9dad-a3d5b1a6d796.png') top right no-repeat;
    background-size: cover;
    background: linear-gradient(135deg, $magenta, $lime);
    height: 4.5em;
}

.back-button, .cancel-event-button {
    color: $black;
    font-weight: bolder;
    text-align: center;
    padding: 0.5em 0em 2.5em 0;
    margin-bottom: 0;
}
