.confirmed-event {

    span {
        display: inline-block;
        margin-right: 1em;
    }

    .placeName, .date {
        font-size: 0.9em;
    }

    .placeAddress {
        color: $dark-grey;
    }

    input[type="file"] {
        display: none;
    }
}

.upload-panel {

    .file-button {
        border: 1px solid #bbb;
        line-height: 2.5em;
        border-radius: 20px;
        font-size: 1.2rem;
    }
}
