.event-header {
    background: url('https://cloud.githubusercontent.com/assets/2305591/15396821/a93118f0-1dd5-11e6-9dad-a3d5b1a6d796.png') top right no-repeat;
    background-size: cover;
    background: linear-gradient(135deg, $magenta, $lime);
    height: 5.5em;
}

.back-button, .cancel-event-button {
    font-weight: bolder;
    text-align: center;
    padding: 0.5em 0em 2.5em 0;
    margin-bottom: 0;
}

.event-details-header {
    background-color: $blue;
}

.event-detail-photo{
    width:70%;
    margin: 1em auto;
}

.event-detail-text-container{
    margin-top: 1.5em;
}

.event-detail-text {
    text-align: center;
    margin: 0 auto;
    padding: 0.4em 0;
    color: $white;
}

.event-details-header > p:first-child {
    font-size: 1.2em;
    font-weight: bolder;
    padding-bottom: 0;
}
