.poll {

    label {
        text-align: left;
        font-size: 1em;
        display: block;
        position: absolute;
        &.what {
            top: 0px;
        }
        &.where {
            top: 30px
        }
        &.when {
            top: 30px
        }
    }
    .tally {
        color: $off-black;
        font-size: 1.5em;
        text-align: center;
    }
    .eventWhat, .eventWhere, .eventWhen {
        display: block;

        .poll-option {
            line-height: 1.5em;
            border-radius: 30px;
            margin-bottom: 10px;
            padding: 4px 0.5em;
            text-align: center;
        }
    }

    .eventWhat .poll-option {
        color: $what;
        border: 1px solid $what;

        &.selected {
            background-color: $what;
            color: white;
        }
    }

    .eventWhere .poll-option {
        color: $where;
        border: 1px solid $where;
        line-height: 20px;
        text-align: center;

        &.selected {
            background-color: $where;
            color: white;

            span.placeAddress {
                color: $white;
            }
        }
        span.placeAddress {
            color: $black;
            font-weight: normal;
            font-style: italic;
            font-size: 0.75em;
        }
    }

    .eventWhen .poll-option {
        color: $when;
        border: 1px solid $when;
        text-align: left;

        &.selected {
            background-color: $when;
            color: $white;
        }
        span.date {
            display: inline-block;
            margin-right: 1em;
            font-size: 0.9em;
        }
    }
}
