$blue: #276AB4;
$grey: #e6e7e9;
$dark-grey: #ababab;
$magenta: #963779;
$lime: #C8BE47;
$facebook-blue: #3b5998;
$red: #FF4136;

$what: #404ea1;
$where: #7b3c97;
$when: #f58220;

$off-black: #303030;
$white: #ffffff;
