.hide {
    visibility: hidden;
}

.profile-photo {
    width: 20%;
}

.title {
  text-align: center;
}

.test {
    box-sizing: border-box;
    background-color: blue;
    border-radius: 10em;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
}
